<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add 
      name="Server" 
      connectionString="Data Source=DESKTOP-K2R2PHT\SQLEXPRESS;Initial Catalog=AnalisisClinico; user = sa;password = alexis123 ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="sound" value="0" />
    <add key="font" value="0" />
    <add key="font-size" value="1" />
    <add key="style" value="0" />
    <add key="daltonic" value="0" />
    <add key="daltonic-tipe" value="1" />
  </appSettings>
</configuration>
